<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632306056834-kvnr01gbq3eg8koak1rb6hk51qp52ios.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632306056834-kvnr01gbq3eg8koak1rb6hk51qp52ios</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632306056834-00uufdih7scqieaffrqlfpj4rihadv21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSW-xWiWaANb-YTd5Tc_tqom-zD6wdrsY</string>
	<key>GCM_SENDER_ID</key>
	<string>632306056834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enelblanco.localsguide</string>
	<key>PROJECT_ID</key>
	<string>local-guide-eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>local-guide-eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632306056834:ios:2c225f232efabcb8d63e9b</string>
</dict>
</plist>