<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632306056834-1l2lnbr0da2hjqf26lnako9bkdpb0h4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632306056834-1l2lnbr0da2hjqf26lnako9bkdpb0h4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632306056834-00uufdih7scqieaffrqlfpj4rihadv21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf-U9RbJb-Q6L4wvNUFkLhGRTh0hhSEP8</string>
	<key>GCM_SENDER_ID</key>
	<string>632306056834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enelblanco.localsGuideEeb</string>
	<key>PROJECT_ID</key>
	<string>local-guide-eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>local-guide-eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632306056834:ios:17398ece7fb01712d63e9b</string>
</dict>
</plist>